# 1.3 Python 3. Список.

С базовыми фичами языка можно ознакомиться в материалах к данной теме.

Предполагается, что вы смогли сделать задания из первой части домашней работы.


**Не допускается использование сторонних бибилиотек типа numpy!**

# Домашняя работа 1 (Хардкорная). Список.

## Теория

Мы пойдем весьма необычным путём. В этом задании вы будете реализовывать последовательность(связный список) с помощью рекурсии и базового элемента `tuple`. Это отличается от классического связного списка, основанного на структуре и указателе `next`, когда обход бы делался с помощью `for`, пока не встретился бы _null pointer_.

Немного теории. Допустим у нас есть связная последовательность чисел ![](https://senior-sigan.ml/fcs-programming-technology/assets/linked_list.png)

Её можно представить в виде последовательности вложенных друг в друга пар: `seq=(1, (2, (3, 4)))`. Тогда чтобы взять последний элемент списка нужно сделать `seq[1][1][1]`. Или если создать специальную вспомогательную функцию `tail`: `tail(tail(tail(seq)))`, что немного математичнее.

> Использовать цикл `for`, `while` **запрещено**. Только рекурсия, только хардкор.

Можно использовать классы и переопределять операторы, но не обязательно. Как делать классы можно прочитать [тут](https://learnxinyminutes.com/docs/ru-ru/python3-ru/) или в официальной [документации](https://docs.python.org/3/tutorial/classes.html).

_Комментарий:_ ваш список должен уметь быть пустым, чтобы его длина была 0. Это потребуется в следующем задании.

Далее список задач и примеры функций. Если вы делаете в ООП стиле, то придумайте методы самостоятельно, главное чтобы идея была такая же.

### Рекурсивно связная последовательность. Easy.

- взятие элемента по индексу `at(seq(1,2,3), 1) == 2`
- вычисление длины последовательности `size(seq(1,2)) == 2`
- сравнение массивов `eq(seq(1,2), seq(1,2)) == Treu`, `eq(seq(1,2,3), seq(1,2)) == False`

### Функции над рекурсивно связаной последовательностью. Moderate.

- взятие хвоста последовательности, пропустив N значений, `eq(tail(seq(1,2,3,4), 2), seq(3,4)) == True`
- соединение двух списков `eq(concat(seq(1,2), seq(3,4)), seq(1,2,3,4)) == True`
- функция `for_each` для обхода списка `for_each(seq(1,2,3,4), lambda x: print(x))`
- функция `for_each_indexed` для обхода списка с индексом `for_each(seq(1,2,3,4), lambda i, x: print(i, x))`

### Трансформаторы, фильтры, свёртки рекурсивных списков. Hard.

- функция преобразования `map`: `map(seq(1,2,3,4), lambda x: x**2) == seq(1,4,9,16)`
- функция фильтрации `filter`: `filter(seq(1,2,3,4),lambda x: x%2==1) == seq(1,3)`
- функция редуцирования `reduce`: `reduce(s=seq(1,2,3,4), init_value=0, func=lambda acc, cur: acc+cur) == 0+1+2+3+4==10`
- на основе функции редуцирования сделать функцию конвертации последовательности в python list `list(seq(1,2,3,4)) == [1,2,3,4]`

### Дополнительное задание, если интересно:

- на основе функции редуцирования сделать функцию flat_map, которая превращает последовательность последовательностей в последовательность. `flat_map(seq(1,2,3), lambda x: seq(x, x + 10)) == seq(1, 11, 2, 12, 3, 13)`

In [72]:
# Воспользуйтесь этим начальным кодом, чтобы реализовать нужный процедуры

def head(pair):
    if pair is None:
        return None
    return pair[0]

def tail(pair):
    if pair is None:
        return None
    if len(pair) < 2:
        return None
    return pair[1]

def seq(*elements):
    def first(x):
        return x[0]
    def other(x):
        return x[1:]

    if len(elements) == 0:
        return None

    if len(elements) == 1:
        return first(elements), None

    if len(elements) == 2:
        return first(elements), other(elements)

    return first(elements), Seq(*other(elements))

s = seq(1,2,3,4,5)
s == (1, (2, (3, (4, (5,)))))
head(s) == 1
tail(s) == (2, (3, (4, (5,))))

True

In [64]:
def at(seq, index):
    if index == 0:
        return seq[0]
    return at(tail(seq), index - 1)

at(seq(1,2,3), 1) == 2

True

In [65]:
def size(seq):
    if(seq is None):
        return 0
    if(tail(seq) is None):
        return 1
    return 1 + size(tail(seq))

size(seq(1,2)) == 2

True

In [77]:
def eq(seq1, seq2):
    if(seq1 is None and seq2 is None):
        return True
    if(seq1 is None or seq2 is None):
        return False
    return seq1[0] == seq2[0] and eq(tail(seq1), tail(seq2))

eq(Seq(1,2), Seq(1,2)) == True, eq(Seq(1,2,3), Seq(1,2)) == False

(True, True)

In [67]:
def tail(pair, skip = 1):
    if pair is None:
        return None
    if len(pair) < 2:
        return None
    if(skip > 1):
        return tail(pair[1], skip - 1)
    return pair[1]

eq(tail(seq(1,2,3,4), 2), seq(3,4)) == True

True

In [68]:
def concat(seq1, seq2):
    if head(seq1) is None :
        return seq2
    if tail(seq1) is None:
        return head(seq1), seq2
    return head(seq1), concat(tail(seq1), seq2)

eq(concat(seq(1,2), seq(3,4)), seq(1,2,3,4)) == True

True

In [69]:
def for_each(seq, func):
    if(head(seq) is None):
        return;
    func(head(seq))
    for_each(tail(seq), func)
    return ;

for_each(seq(1,2,3,4), lambda x: print(x))

1
2
3
4

In [70]:
def for_each_indexed(seq, func, i = 0):
    if(head(seq) is None):
        return;
    func(i, head(seq))
    for_each_indexed(tail(seq), func, i + 1)
    return;

for_each_indexed(seq(1,2,3,4), lambda i, x: print(i, x))

0 1
1 2
2 3
3 4

In [78]:
def map(seq, func):
    if(head(seq) is None):
        return None
    return func(head(seq)), map(tail(seq), func)

eq(map(seq(1,2,3,4), lambda x: x**2),seq(1,4,9,16))

True

In [81]:
def filter(seq, func):
    if(head(seq) is None):
        return None
    if(func(head(seq))):
        return head(seq), filter(tail(seq), func)
    return filter(tail(seq), func)

eq(filter(seq(1,2,3,4),lambda x: x%2==1), seq(1,3))

True

In [85]:
def reduce(seq, init, func):
    if(head(seq) is None):
        return init
    return func(head(seq), reduce(tail(seq), init, func))

reduce(seq(1,2,3,4), 0, lambda acc, cur: acc+cur) == 0+1+2+3+4==10

True

In [92]:
def list(seq):
    return reduce(seq, [], lambda x, y: [x] + y)

list(seq(1,2,3,4)) == [1,2,3,4]

True

In [94]:
def flat_map(seq, func):
    return reduce(seq, None, lambda x, y: concat(func(x), y))

eq(flat_map(seq(1,2,3), lambda x: seq(x, x + 10)) , seq(1, 11, 2, 12, 3, 13))

True